<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzaria - Rumo Soluções</title>
    @Styles.Render("~/Content/Bootstrap.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <h1>Pizzaria Rumo</h1>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Pedidos", "Index", "Home")</li>
        <li>@Html.ActionLink("Copa", "About", "Home")</li>
        <li>@Html.ActionLink("Contato", "Contact", "Home")</li>*@
                    <li>@Html.ActionLink("Pedidos", "Pedidos", "Home")</li>
                    <li>@Html.ActionLink("Cozinha", "Cozinha", "Home")</li>
                    <li>@Html.ActionLink("Copa", "Copa", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Pizzaria Rumo soluções - Matheus Goulart</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
